<!--====== Header Start ======-->
<style>
    /* Modal Style */
    .modal {
      display: none; 
      position: fixed; 
      z-index: 1; 
      left: 0;
      top: 0;
      width: 100%; 
      height: 100%; 
      overflow: auto; 
      background-color: rgb(0,0,0); 
      background-color: rgba(0,0,0,0.4); 
      padding-top: 60px;
    }
    
    .modal-content {
      background-color: #fefefe;
      margin: 5% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
    }
    
    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  </style>
  
<header>
    <div class="header-top" style="background-color: #1D4268;">
        <div class="header-left">
            <a>
                <!-- <img src="../../Aviator/images/logo.png" class="logo1" /> -->
                <img src="/images/banners/logo.png" class="logo1" />
            </a>
        </div>
        <div class="header-right d-flex align-items-center">
            <a>
                <button class="deposite-btn d-flex align-items-center me-2" onclick="window.location.href='/wallet/recharge'">
                    <span class="material-symbols-outlined me-2"> payments </span>
                    <!-- <span>$</span> -->
                    <span class="me-2" id="header_wallet_balance">₹<%= typeof money === 'number' ? money.toLocaleString('en-IN') : money %></span>
                    DEPOSIT
                </button>
            </a>
            <div class="btn-group">
                <button type="button"
                    class="btn btn-transparent dropdown-toggle p-0 d-flex align-items-center justify-content-center caret-none"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="material-symbols-outlined f-24 menu-icon text-white">
                        menu
                    </span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark profile-dropdown p-0">
                        <li class="profile-head d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <img src="{{user('image')}}" class="avtar-ico" id="avatar_img">
                                <div>
                                    <div class="profile-name mb-1"><%= username %></div>
                                    <div class="profile-name" id="username"></div>
                                </div>

                            </div>
                        </li>
					
			
			

            <!-- <li>
                <a href="/home/" class="f-12 justify-content-between">
                    <div class="d-flex align-items-center">
                        <span class="material-symbols-outlined ico f-20">
                            flight_takeoff
                        </span>
                        <img src="../../Aviator/images/logo.svg" class="side_logo">

                    </div>
                </a>
            </li> -->

            <li>
                <a href="/home/" class="f-12 justify-content-between">
                    <div class="d-flex align-items-center">
                        <span class="material-symbols-outlined ico f-20">
                            flight_takeoff
                        </span>
                        Home

                    </div>
                </a>
            </li>

            <li>
                <a href="/wallet/recharge" class="f-12 justify-content-between">
                    <div class="d-flex align-items-center">
                        <span class="material-symbols-outlined ico f-20">
                            payments
                        </span>DEPOSIT FUNDS
                    </div>
                </a>
            </li>
            <li>

                <li>
                    <a href="/wallet/withdrawal" class="f-12 justify-content-between">
                        <div class="d-flex align-items-center">
                            <span class="material-symbols-outlined ico f-20">
                                payments
                            </span>WITHDRAW FUNDS FROM THE ACCOUNT
                        </div>
                    </a>
                </li>
                <li>

                    <li>
                        <a href="/wallet/rechargerecord" class="f-12 justify-content-between">
                            <div class="d-flex align-items-center">
                                <span class="material-symbols-outlined ico f-20">
                                    payments
                                </span>TRANSACTION HISTORY
                            </div>
                        </a>
                    </li>
                    <li>
                        <li>
                            <a href="#" onclick="showReferralPopup()"  class = "f-12 justify-content-between">
                                <div class="d-flex align-items-center">
                                    <span class="material-symbols-outlined ico f-20">
                                        payments
                                    </span>REFERRAL CODE
                                </div>
                            </a>
                        </li>
                        <li>

                        <li>
                            <a   class="f-12 justify-content-between" onclick="signOut()">
                                <div class="d-flex align-items-center">
                                    <span class="material-symbols-outlined ico f-20">
                                        payments
                                    </span>SIGN OUT
                                </div>
                            </a>
                        </li>
                        <% if (ekyc === false || ekyc ==0) { %>
                            <li>
                              <a href="/ekyc" class="f-12 justify-content-between">
                                <div class="d-flex align-items-center">
                                  <span class="material-symbols-outlined ico f-20">payments</span>
                                  E-KYC
                                </div>
                              </a>
                            </li>
                          <% } %>                        
					<!-- <li>
                <a class="f-12 justify-content-between">
                    <div class="d-flex align-items-center">
                        <span class="material-symbols-outlined ico f-20">
                            mode_fan
                        </span>ANIMATION
                    </div>
                    <div>
                        <div class="form-check form-switch lg-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="animation" checked="">
                            <label class="form-check-label" for="animation"></label>
                        </div>
                    </div>
                </a>
            </li> -->
					<li class="divider"> </li>
                        <!-- <li>
                            <a href="/crash" class="f-12 justify-content-between">
                                <div class="d-flex align-items-center">
                                    <span class="material-symbols-outlined ico f-20">
                                        flight_takeoff
                                    </span>
                                    <img src="../../Aviator/images/logo.svg" class="side_logo">
                                </div>
                            </a>
                        </li>


                        <li>
                            <a href="/deposit" class="f-12 justify-content-between">
                                <div class="d-flex align-items-center">
                                    <span class="material-symbols-outlined ico f-20">
                                        payments
                                    </span>DEPOSIT FUNDS
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/withdraw" class="f-12 justify-content-between">
                                <div class="d-flex align-items-center">
                                    <span class="material-symbols-outlined ico f-20">
                                        payments
                                    </span>WITHDRAW FUNDS FROM THE ACCOUNT
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/amount-transfer" class="f-12 justify-content-between">
                                <div class="d-flex align-items-center">
                                    <span class="material-symbols-outlined ico f-20">
                                        payments
                                    </span>AMOUNT TRANSFER
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/profile" class="f-12 justify-content-between">
                                <div class="d-flex align-items-center">
                                    <span class="material-symbols-outlined ico f-20">
                                        account_circle
                                    </span>PERSONAL DETAILS
                                </div>
                            </a>
                        </li>
                        {{-- <li>
                            <a href="#" class="f-12 justify-content-between">
                                <div class="d-flex align-items-center">
                                    <span class="material-symbols-outlined ico f-20">
                                        payments
                                    </span>TRANSFER FUNDS
                                </div>
                            </a>
                        </li> --}}
                        <li>
                            <a href="/deposit_withdrawals" class="f-12 justify-content-between">
                                <div class="d-flex align-items-center">
                                    <span class="material-symbols-outlined ico f-20">
                                        payments
                                    </span>TRANSACTION HISTORY
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/level-management" class="f-12 justify-content-between">
                                <div class="d-flex align-items-center">
                                    <span class="material-symbols-outlined ico f-20">
                                        payments
                                    </span>LEVEL MANAGEMENT
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/referal" class="f-12 justify-content-between">
                                <div class="d-flex align-items-center">
                                    <span class="material-symbols-outlined ico f-20">
                                        payments
                                    </span>REFERRAL
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/logout" class="f-12 justify-content-between">
                                <div class="d-flex align-items-center">
                                    <span class="material-symbols-outlined ico f-20">
                                        payments
                                    </span>SIGN OUT
                                </div>
                            </a>
                        </li> -->
                    </ul>
            </div>




        </div>
    </div>
    <!-- <div class="header-bottom ">
        <div class="header-left">
            <img src="../../Aviator/images/logo.svg" class="logo" />
        </div>
        <div class="header-right d-flex align-items-center">
            <button class="btn btn-warning m-font-0 rounded-pill py-1 px-2 f-14 d-flex align-items-center h-26" data-bs-toggle="modal" data-bs-target="#how-to-play">
            <span class="material-symbols-outlined f-18 me-1">
                help
            </span> How to Play
        </button>
            <div class="wallet-balance h-26">
                <span id="wallet_balance">{{ wallet(user('id')) }}</span>
            </div>
        </div>
    </div> -->

    <div id="referralModal" style="display:none;" class="modal">
        <div class="modal-content">
          <span onclick="closeReferralPopup()" class="close">&times;</span>
          <h2>Your Referral Code</h2>
          <input type="text" id="referralCodeInput" value="https://wongo.site?refer=76890" readonly>
          <button onclick="copyReferralCode()">Copy Referral Code</button>
        </div>
      </div>
</header>

<script>
    // Show Referral Code Pop-up
    function showReferralPopup() {
      document.getElementById('referralModal').style.display = "block";
    }
  
    // Close the Referral Code Pop-up
    function closeReferralPopup() {
      document.getElementById('referralModal').style.display = "none";
    }
  
    // Copy the Referral Code
    function copyReferralCode() {
      const copyText = document.getElementById("referralCodeInput");
      copyText.select();
      copyText.setSelectionRange(0, 99999); // For mobile devices
      document.execCommand("copy");
  
      // Optional: Alert user that the code was copied
      alert("Referral code copied: " + copyText.value);
    }
    function signOut() {
    // Delete the token and auth cookies
    deleteCookie('token');
    deleteCookie('auth');

    // Optionally, redirect the user to the login page or home page
    window.location.href = '/home';  // or any other page
}
  </script>




<!--====== Header End ======-->