<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div
      data-v-6666ec94=""
      id="home"
      class="purple-home"
      style="
        --f13b4d11-currentFontFamily:
          &quot;Roboto&quot;, &quot;Inter&quot;, sans-serif;
      "
    >
      <!-- 顶部导航栏占位 -->
      <div data-v-6666ec94="" class="purple-home__nav-placeholder"></div>
      <!-- 顶部导航栏 fixed -->
      <div data-v-6666ec94="" class="purple-home__nav">
        <!--v-if--><!-- 已登录：左(余额) 中(logo) 右(下载+语言) --><!-- 未登录：左(logo) 右(Login + Register) -->
        <div data-v-6666ec94="" class="purple-home__nav-left">
          <img
            data-v-6666ec94=""
            src="https://ossimg.jaiclubpay.com/jaiclub/other/h5setting_20260325173212e2c7.png"
            alt="logo"
            class="purple-home__nav-logo"
          />
        </div>
        <div data-v-6666ec94="" class="purple-home__nav-auth">
          <button data-v-6666ec94="" class="purple-home__nav-auth__login">
            Login</button
          ><button data-v-6666ec94="" class="purple-home__nav-auth__register">
            Register
          </button>
        </div>
      </div>
      <!-- 头部轮播图 -->
      <div data-v-3ad7aed7="" data-v-6666ec94="" class="swiper_box">
        <div
          data-v-3ad7aed7=""
          class="swiper swiper-initialized swiper-horizontal swiper-pointer-events my-swipe"
        >
          <div
            class="swiper-wrapper"
            style="
              transform: translate3d(-776px, 0px, 0px);
              transition-duration: 0ms;
            "
          >
            <div
              class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate"
              data-swiper-slide-index="9"
              style="width: 368px; margin-right: 20px"
            >
              <img
                data-v-3ad7aed7=""
                class="ar-lazyload"
                data-origin="https://ossimg.jaiclubpay.com/jaiclub/banner/Banner_20260329222202iyvc.jpg"
              />
            </div>
            <div
              data-v-3ad7aed7=""
              class="swiper-slide swiper-slide-prev"
              data-swiper-slide-index="0"
              style="width: 368px; margin-right: 20px"
            >
              <img
                data-v-3ad7aed7=""
                class=""
                data-origin="https://ossimg.jaiclubpay.com/jaiclub/banner/Banner_20260328165751seps.jpg"
                src="https://ossimg.jaiclubpay.com/jaiclub/banner/Banner_20260328165751seps.jpg"
              />
            </div>
            <div
              data-v-3ad7aed7=""
              class="swiper-slide swiper-slide-active"
              data-swiper-slide-index="1"
              style="width: 368px; margin-right: 20px"
            >
              <img
                data-v-3ad7aed7=""
                class=""
                data-origin="https://ossimg.jaiclubpay.com/jaiclub/banner/Banner_20260328165613cgpq.jpg"
                src="https://ossimg.jaiclubpay.com/jaiclub/banner/Banner_20260328165613cgpq.jpg"
              />
            </div>
            <div
              data-v-3ad7aed7=""
              class="swiper-slide swiper-slide-next"
              data-swiper-slide-index="2"
              style="width: 368px; margin-right: 20px"
            >
              <img
                data-v-3ad7aed7=""
                class=""
                data-origin="https://ossimg.jaiclubpay.com/jaiclub/banner/Banner_20260329220526avv6.jpg"
                src="https://ossimg.jaiclubpay.com/jaiclub/banner/Banner_20260329220526avv6.jpg"
              />
            </div>
            <div
              data-v-3ad7aed7=""
              class="swiper-slide"
              data-swiper-slide-index="3"
              style="width: 368px; margin-right: 20px"
            >
              <img
                data-v-3ad7aed7=""
                class=""
                data-origin="https://ossimg.jaiclubpay.com/jaiclub/banner/Banner_20260328165737pj8m.jpg"
                src="https://ossimg.jaiclubpay.com/jaiclub/banner/Banner_20260328165737pj8m.jpg"
              />
            </div>
            <div
              data-v-3ad7aed7=""
              class="swiper-slide"
              data-swiper-slide-index="4"
              style="width: 368px; margin-right: 20px"
            >
              <img
                data-v-3ad7aed7=""
                class=""
                data-origin="https://ossimg.jaiclubpay.com/jaiclub/banner/Banner_2026032922084392lt.jpg"
                src="https://ossimg.jaiclubpay.com/jaiclub/banner/Banner_2026032922084392lt.jpg"
              />
            </div>
            <div
              data-v-3ad7aed7=""
              class="swiper-slide"
              data-swiper-slide-index="5"
              style="width: 368px; margin-right: 20px"
            >
              <img
                data-v-3ad7aed7=""
                class=""
                data-origin="https://ossimg.jaiclubpay.com/jaiclub/banner/Banner_202604232203507sx7.jpg"
                src="https://ossimg.jaiclubpay.com/jaiclub/banner/Banner_202604232203507sx7.jpg"
              />
            </div>
            <div
              data-v-3ad7aed7=""
              class="swiper-slide"
              data-swiper-slide-index="6"
              style="width: 368px; margin-right: 20px"
            >
              <img
                data-v-3ad7aed7=""
                class=""
                data-origin="https://ossimg.jaiclubpay.com/jaiclub/banner/Banner_202603292214229onc.jpg"
                src="https://ossimg.jaiclubpay.com/jaiclub/banner/Banner_202603292214229onc.jpg"
              />
            </div>
            <div
              data-v-3ad7aed7=""
              class="swiper-slide"
              data-swiper-slide-index="7"
              style="width: 368px; margin-right: 20px"
            >
              <img
                data-v-3ad7aed7=""
                class=""
                data-origin="https://ossimg.jaiclubpay.com/jaiclub/banner/Banner_20260329220946t17w.jpg"
                src="https://ossimg.jaiclubpay.com/jaiclub/banner/Banner_20260329220946t17w.jpg"
              />
            </div>
            <div
              data-v-3ad7aed7=""
              class="swiper-slide"
              data-swiper-slide-index="8"
              style="width: 368px; margin-right: 20px"
            >
              <img
                data-v-3ad7aed7=""
                class=""
                data-origin="https://ossimg.jaiclubpay.com/jaiclub/banner/Banner_2026032922212632fe.jpg"
                src="https://ossimg.jaiclubpay.com/jaiclub/banner/Banner_2026032922212632fe.jpg"
              />
            </div>
            <div
              data-v-3ad7aed7=""
              class="swiper-slide"
              data-swiper-slide-index="9"
              style="width: 368px; margin-right: 20px"
            >
              <img
                data-v-3ad7aed7=""
                class=""
                data-origin="https://ossimg.jaiclubpay.com/jaiclub/banner/Banner_20260329222202iyvc.jpg"
                src="https://ossimg.jaiclubpay.com/jaiclub/banner/Banner_20260329222202iyvc.jpg"
              />
            </div>
            <div
              class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev swiper-slide-duplicate"
              data-swiper-slide-index="0"
              style="width: 368px; margin-right: 20px"
            >
              <img
                data-v-3ad7aed7=""
                class=""
                data-origin="https://ossimg.jaiclubpay.com/jaiclub/banner/Banner_20260328165751seps.jpg"
                src="https://ossimg.jaiclubpay.com/jaiclub/banner/Banner_20260328165751seps.jpg"
              />
            </div>
          </div>
          <!----><!----><!---->
        </div>
        <div data-v-3ad7aed7="" class="swiper-button">
          <span data-v-3ad7aed7="" class=""></span
          ><span data-v-3ad7aed7="" class=""></span
          ><span data-v-3ad7aed7="" class="active"></span
          ><span data-v-3ad7aed7="" class=""></span
          ><span data-v-3ad7aed7="" class=""></span
          ><span data-v-3ad7aed7="" class=""></span
          ><span data-v-3ad7aed7="" class=""></span
          ><span data-v-3ad7aed7="" class=""></span
          ><span data-v-3ad7aed7="" class=""></span
          ><span data-v-3ad7aed7="" class=""></span>
        </div>
      </div>
      <!-- 滚动通知栏 -->
      <div data-v-6666ec94="" class="noticeBar__container">
        <img
          src="/assets/svg/noticeBarSpeaker-0ddc3721.svg"
          class="notice_svg"
        />
        <div class="noticeBar__container-body">
          <div class="noticeBar__container-body-text">
            🎉🎉🎉Welcome to join the Jaiclub platform. We provide a brand new
            gaming experience and a comprehensive range of popular games.
            ❤️‍🔥❤️‍🔥❤️‍🔥You are welcome to register at Jaiclub and participate in the
            game. Thank you.
          </div>
        </div>
        <button class="hotIcon">Detail</button>
      </div>
      <!-- 游戏分类标签 -->
      <div data-v-2c772a7d="" data-v-6666ec94="" class="game-tabs">
        <div data-v-2c772a7d="" class="game-tabs__scroll">
          <div
            data-v-2c772a7d=""
            class="game-tabs__scroll-indicator"
            style="
              width: 108px;
              transform: translate3d(0px, 0px, 0px);
              transition: none;
            "
          ></div>
          <div data-v-2c772a7d="" class="game-tabs__scroll-item active">
            <img
              data-v-2c772a7d=""
              src="https://ossimg.jaiclubpay.com/jaiclub/gamecategory/gamecategory_20260317195836xmjh.png"
              class="game-tabs__scroll-item__icon"
            /><span data-v-2c772a7d="">Popular</span>
          </div>
          <div data-v-2c772a7d="" class="game-tabs__scroll-item">
            <img
              data-v-2c772a7d=""
              src="https://ossimg.jaiclubpay.com/jaiclub/gamecategory/gamecategory_20260317195804ia1x.png"
              class="game-tabs__scroll-item__icon"
            /><span data-v-2c772a7d="">Lottery</span>
          </div>
          <div data-v-2c772a7d="" class="game-tabs__scroll-item">
            <img
              data-v-2c772a7d=""
              src="https://ossimg.jaiclubpay.com/jaiclub/gamecategory/gamecategory_202603241755279vxy.png"
              class="game-tabs__scroll-item__icon"
            /><span data-v-2c772a7d="">Mini games</span>
          </div>
          <div data-v-2c772a7d="" class="game-tabs__scroll-item">
            <img
              data-v-2c772a7d=""
              src="https://ossimg.jaiclubpay.com/jaiclub/gamecategory/gamecategory_20260324175501m13j.png"
              class="game-tabs__scroll-item__icon"
            /><span data-v-2c772a7d="">Slots</span>
          </div>
          <div data-v-2c772a7d="" class="game-tabs__scroll-item">
            <img
              data-v-2c772a7d=""
              src="https://ossimg.jaiclubpay.com/jaiclub/gamecategory/gamecategory_20260324175552qchj.png"
              class="game-tabs__scroll-item__icon"
            /><span data-v-2c772a7d="">Fishing</span>
          </div>
          <div data-v-2c772a7d="" class="game-tabs__scroll-item">
            <img
              data-v-2c772a7d=""
              src="https://ossimg.jaiclubpay.com/jaiclub/gamecategory/gamecategory_20260317200219ci94.png"
              class="game-tabs__scroll-item__icon"
            /><span data-v-2c772a7d="">PVC</span>
          </div>
          <div data-v-2c772a7d="" class="game-tabs__scroll-item">
            <img
              data-v-2c772a7d=""
              src="https://ossimg.jaiclubpay.com/jaiclub/gamecategory/gamecategory_202603241755127vud.png"
              class="game-tabs__scroll-item__icon"
            /><span data-v-2c772a7d="">Casino</span>
          </div>
          <div data-v-2c772a7d="" class="game-tabs__scroll-item">
            <img
              data-v-2c772a7d=""
              src="https://ossimg.jaiclubpay.com/jaiclub/gamecategory/gamecategory_20260317200239w59n.png"
              class="game-tabs__scroll-item__icon"
            /><span data-v-2c772a7d="">Sports</span>
          </div>
        </div>
      </div>
      <!-- 当前分类的游戏区块 --><!-- 彩票类型 --><!-- 其他类型（通用网格） -->
      <div data-v-d5b035b5="" class="game-section">
        <div data-v-e656ed2c="" data-v-d5b035b5="" class="section-header">
          <div data-v-e656ed2c="" class="section-header__title">
            <div data-v-e656ed2c="" class="section-header__title-bg">
              <span
                data-v-e656ed2c=""
                class="section-header__title-bg__inner"
              ></span
              ><span data-v-e656ed2c="" class="section-header__title-bg__text"
                >Popular</span
              >
            </div>
            <div data-v-e656ed2c="" class="section-header__title-tail"></div>
          </div>
          <div data-v-e656ed2c="" class="section-header__right">
            <!--v-if--><span
              data-v-e656ed2c=""
              class="section-header__right-all"
              >ALL</span
            ><svg
              data-v-e656ed2c=""
              class="section-header__right-arrow"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                data-v-e656ed2c=""
                d="M9 6L15 12L9 18"
                stroke="currentColor"
                stroke-width="2.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </svg>
          </div>
        </div>
        <div data-v-d5b035b5="" class="game-section__grid">
          <div data-v-d5b035b5="" class="game-section__grid-item">
            <img
              data-v-d5b035b5=""
              class=""
              data-origin="https://ossimg.jaiclubpay.com/jaiclub/gamelogo/ARLottery/WinGo_30S_20260328174820851.jpg"
              src="https://ossimg.jaiclubpay.com/jaiclub/gamelogo/ARLottery/WinGo_30S_20260328174820851.jpg"
            />
          </div>
          <div data-v-d5b035b5="" class="game-section__grid-item">
            <img
              data-v-d5b035b5=""
              class=""
              data-origin="https://ossimg.jaiclubpay.com/jaiclub/gamelogo/TB_Chess/800.png"
              src="https://ossimg.jaiclubpay.com/jaiclub/gamelogo/TB_Chess/800.png"
            />
          </div>
          <div data-v-d5b035b5="" class="game-section__grid-item">
            <img
              data-v-d5b035b5=""
              class=""
              data-origin="https://ossimg.jaiclubpay.com/jaiclub/gamelogo/TB_Chess/810.png"
              src="https://ossimg.jaiclubpay.com/jaiclub/gamelogo/TB_Chess/810.png"
            />
          </div>
          <div data-v-d5b035b5="" class="game-section__grid-item">
            <img
              data-v-d5b035b5=""
              class=""
              data-origin="https://ossimg.jaiclubpay.com/jaiclub/gamelogo/TB_Chess/910.png"
              src="https://ossimg.jaiclubpay.com/jaiclub/gamelogo/TB_Chess/910.png"
            />
          </div>
          <div data-v-d5b035b5="" class="game-section__grid-item">
            <img
              data-v-d5b035b5=""
              class=""
              data-origin="https://ossimg.jaiclubpay.com/jaiclub/gamelogo/TB_Chess/804.png"
              src="https://ossimg.jaiclubpay.com/jaiclub/gamelogo/TB_Chess/804.png"
            />
          </div>
          <div data-v-d5b035b5="" class="game-section__grid-item">
            <img
              data-v-d5b035b5=""
              class=""
              data-origin="https://ossimg.jaiclubpay.com/jaiclub/gamelogo/TB_Chess/124.png"
              src="https://ossimg.jaiclubpay.com/jaiclub/gamelogo/TB_Chess/124.png"
            />
          </div>
        </div>
      </div>
      <!-- 推荐游戏 -->
      <div data-v-b313c6ed="" data-v-6666ec94="" class="recommended-games">
        <div data-v-e656ed2c="" data-v-b313c6ed="" class="section-header">
          <div data-v-e656ed2c="" class="section-header__title">
            <div data-v-e656ed2c="" class="section-header__title-bg">
              <span
                data-v-e656ed2c=""
                class="section-header__title-bg__inner"
              ></span
              ><span data-v-e656ed2c="" class="section-header__title-bg__text"
                >Recommended Games</span
              >
            </div>
            <div data-v-e656ed2c="" class="section-header__title-tail"></div>
          </div>
          <!--v-if-->
        </div>
        <div data-v-b313c6ed="" class="recommended-games__list">
          <div data-v-b313c6ed="" class="recommended-games__list-item">
            <img
              data-v-b313c6ed=""
              class="recommended-games__list-item__cover"
              data-origin="https://ossimg.jaiclubpay.com/jaiclub/gamelogo/JILI/51.png"
              src="https://ossimg.jaiclubpay.com/jaiclub/gamelogo/JILI/51.png"
            />
          </div>
          <div data-v-b313c6ed="" class="recommended-games__list-item">
            <img
              data-v-b313c6ed=""
              class="recommended-games__list-item__cover"
              data-origin="https://ossimg.jaiclubpay.com/jaiclub/gamelogo/JILI/223.png"
              src="https://ossimg.jaiclubpay.com/jaiclub/gamelogo/JILI/223.png"
            />
          </div>
          <div data-v-b313c6ed="" class="recommended-games__list-item">
            <img
              data-v-b313c6ed=""
              class="recommended-games__list-item__cover"
              data-origin="https://ossimg.jaiclubpay.com/jaiclub/gamelogo/JILI/109.png"
              src="https://ossimg.jaiclubpay.com/jaiclub/gamelogo/JILI/109.png"
            />
          </div>
          <div data-v-b313c6ed="" class="recommended-games__list-item">
            <img
              data-v-b313c6ed=""
              class="recommended-games__list-item__cover ar-lazyload"
              data-origin="https://ossimg.jaiclubpay.com/jaiclub/gamelogo/CQ9/19.png"
            />
          </div>
          <div data-v-b313c6ed="" class="recommended-games__list-item">
            <img
              data-v-b313c6ed=""
              class="recommended-games__list-item__cover ar-lazyload"
              data-origin="https://ossimg.jaiclubpay.com/jaiclub/gamelogo/JILI/35.png"
            />
          </div>
          <div data-v-b313c6ed="" class="recommended-games__list-item">
            <img
              data-v-b313c6ed=""
              class="recommended-games__list-item__cover ar-lazyload"
              data-origin="https://ossimg.jaiclubpay.com/jaiclub/gamelogo/MG/SMG_wildfireWins.png"
            />
          </div>
        </div>
      </div>
      <!-- 精选游戏 -->
      <div data-v-6804144f="" data-v-6666ec94="" class="featured-game">
        <div data-v-6804144f="" class="featured-game__card">
          <!-- 左侧游戏封面 -->
          <div data-v-6804144f="" class="featured-game__cover">
            <img
              data-v-6804144f=""
              src="https://ossimg.jaiclubpay.com/jaiclub/gamelogo/GameBox/10003_20260408154838711.jpg"
              alt=""
              class="featured-game__cover-img"
            />
          </div>
          <!-- 右侧信息区 -->
          <div data-v-6804144f="" class="featured-game__info">
            <h3 data-v-6804144f="" class="featured-game__info-name">
              Power Of The Kraken
            </h3>
            <div class="featured-game__info-row" data-v-6804144f="">
              <span class="featured-game__info-row__stars" data-v-6804144f=""
                >★★★★★</span
              ><span class="featured-game__info-row__tag" data-v-6804144f=""
                >5.0 | Score</span
              >
            </div>
            <div class="featured-game__info-row" data-v-6804144f="">
              <span class="featured-game__info-row__label" data-v-6804144f=""
                >Slot Game</span
              ><span class="featured-game__info-row__tag" data-v-6804144f=""
                >#01 | Rank</span
              >
            </div>
            <div class="featured-game__info-row" data-v-6804144f="">
              <span class="featured-game__info-row__label" data-v-6804144f=""
                >300K Winner</span
              ><span class="featured-game__info-row__tag" data-v-6804144f=""
                >1500x | Max Win</span
              >
            </div>
            <button
              data-v-6804144f=""
              class="purple-gradient-btn featured-game__info-btn"
            >
              Play Now
            </button>
          </div>
        </div>
      </div>
      <!-- 中奖信息 -->
      <div data-v-6666ec94="" class="purple-home__section-card">
        <div data-v-e656ed2c="" data-v-6666ec94="" class="section-header">
          <div data-v-e656ed2c="" class="section-header__title">
            <div data-v-e656ed2c="" class="section-header__title-bg">
              <span
                data-v-e656ed2c=""
                class="section-header__title-bg__inner"
              ></span
              ><span data-v-e656ed2c="" class="section-header__title-bg__text"
                >Winning information</span
              >
            </div>
            <div data-v-e656ed2c="" class="section-header__title-tail"></div>
          </div>
          <!--v-if-->
        </div>
        <div
          data-v-ffb14677=""
          data-v-6666ec94=""
          class="luckyWinners__container"
        >
          <h1 data-v-ffb14677="">Winning information</h1>
          <div data-v-ffb14677="" class="luckyWinners__container-wrapper">
            <div data-v-ffb14677="" style="position: relative">
              <div
                data-v-ffb14677=""
                class="luckyWinners__container-wrapper__item"
              >
                <div
                  data-v-ffb14677=""
                  class="luckyWinners__container-wrapper__item-img"
                >
                  <img
                    data-v-ffb14677=""
                    class="ar-lazyload"
                    data-origin="/assets/png/18-52955242.webp"
                  />
                </div>
                <div
                  data-v-ffb14677=""
                  class="luckyWinners__container-wrapper__item-info"
                >
                  <h1 data-v-ffb14677="">Mem***PYQ</h1>
                </div>
                <div
                  data-v-ffb14677=""
                  class="luckyWinners__container-wrapper__item-winType"
                >
                  <img
                    data-v-ffb14677=""
                    class="ar-lazyload"
                    data-origin="https://ossimg.jaiclubpay.com/jaiclub/vendorlogo/vendorlogo_20260317181711ruc9.png"
                  />
                </div>
                <div
                  data-v-ffb14677=""
                  class="luckyWinners__container-wrapper__item-winAmount"
                >
                  <h1 data-v-ffb14677="">Receive ₹1,625.00</h1>
                  <span data-v-ffb14677="">Winning amount</span>
                </div>
              </div>
              <div
                data-v-ffb14677=""
                class="luckyWinners__container-wrapper__item"
              >
                <div
                  data-v-ffb14677=""
                  class="luckyWinners__container-wrapper__item-img"
                >
                  <img
                    data-v-ffb14677=""
                    class="ar-lazyload"
                    data-origin="/assets/png/8-ea087ede.webp"
                  />
                </div>
                <div
                  data-v-ffb14677=""
                  class="luckyWinners__container-wrapper__item-info"
                >
                  <h1 data-v-ffb14677="">Mem***KOL</h1>
                </div>
                <div
                  data-v-ffb14677=""
                  class="luckyWinners__container-wrapper__item-winType"
                >
                  <img
                    data-v-ffb14677=""
                    class="ar-lazyload"
                    data-origin="https://ossimg.jaiclubpay.com/jaiclub/vendorlogo/vendorlogo_20260317181711ruc9.png"
                  />
                </div>
                <div
                  data-v-ffb14677=""
                  class="luckyWinners__container-wrapper__item-winAmount"
                >
                  <h1 data-v-ffb14677="">Receive ₹573.50</h1>
                  <span data-v-ffb14677="">Winning amount</span>
                </div>
              </div>
              <div
                data-v-ffb14677=""
                class="luckyWinners__container-wrapper__item"
              >
                <div
                  data-v-ffb14677=""
                  class="luckyWinners__container-wrapper__item-img"
                >
                  <img
                    data-v-ffb14677=""
                    class="ar-lazyload"
                    data-origin="/assets/png/14-a397ff6b.webp"
                  />
                </div>
                <div
                  data-v-ffb14677=""
                  class="luckyWinners__container-wrapper__item-info"
                >
                  <h1 data-v-ffb14677="">Mem***KRA</h1>
                </div>
                <div
                  data-v-ffb14677=""
                  class="luckyWinners__container-wrapper__item-winType"
                >
                  <img
                    data-v-ffb14677=""
                    class="ar-lazyload"
                    data-origin="https://ossimg.jaiclubpay.com/jaiclub/vendorlogo/vendorlogo_20260423171751p8q5.png"
                  />
                </div>
                <div
                  data-v-ffb14677=""
                  class="luckyWinners__container-wrapper__item-winAmount"
                >
                  <h1 data-v-ffb14677="">Receive ₹85.96</h1>
                  <span data-v-ffb14677="">Winning amount</span>
                </div>
              </div>
              <div
                data-v-ffb14677=""
                class="luckyWinners__container-wrapper__item"
              >
                <div
                  data-v-ffb14677=""
                  class="luckyWinners__container-wrapper__item-img"
                >
                  <img
                    data-v-ffb14677=""
                    class="ar-lazyload"
                    data-origin="/assets/png/11-925c456e.webp"
                  />
                </div>
                <div
                  data-v-ffb14677=""
                  class="luckyWinners__container-wrapper__item-info"
                >
                  <h1 data-v-ffb14677="">Mem***IOV</h1>
                </div>
                <div
                  data-v-ffb14677=""
                  class="luckyWinners__container-wrapper__item-winType"
                >
                  <img
                    data-v-ffb14677=""
                    class="ar-lazyload"
                    data-origin="https://ossimg.jaiclubpay.com/jaiclub/vendorlogo/vendorlogo_20260317181711ruc9.png"
                  />
                </div>
                <div
                  data-v-ffb14677=""
                  class="luckyWinners__container-wrapper__item-winAmount"
                >
                  <h1 data-v-ffb14677="">Receive ₹442.00</h1>
                  <span data-v-ffb14677="">Winning amount</span>
                </div>
              </div>
              <div
                data-v-ffb14677=""
                class="luckyWinners__container-wrapper__item"
              >
                <div
                  data-v-ffb14677=""
                  class="luckyWinners__container-wrapper__item-img"
                >
                  <img
                    data-v-ffb14677=""
                    class="ar-lazyload"
                    data-origin="/assets/png/6-7c7f5203.webp"
                  />
                </div>
                <div
                  data-v-ffb14677=""
                  class="luckyWinners__container-wrapper__item-info"
                >
                  <h1 data-v-ffb14677="">Mem***CPK</h1>
                </div>
                <div
                  data-v-ffb14677=""
                  class="luckyWinners__container-wrapper__item-winType"
                >
                  <img
                    data-v-ffb14677=""
                    class="ar-lazyload"
                    data-origin="https://ossimg.jaiclubpay.com/jaiclub/vendorlogo/vendorlogo_20260317181711ruc9.png"
                  />
                </div>
                <div
                  data-v-ffb14677=""
                  class="luckyWinners__container-wrapper__item-winAmount"
                >
                  <h1 data-v-ffb14677="">Receive ₹387.96</h1>
                  <span data-v-ffb14677="">Winning amount</span>
                </div>
              </div>
              <div
                data-v-ffb14677=""
                class="luckyWinners__container-wrapper__item"
              >
                <div
                  data-v-ffb14677=""
                  class="luckyWinners__container-wrapper__item-img"
                >
                  <img
                    data-v-ffb14677=""
                    class="ar-lazyload"
                    data-origin="/assets/png/8-ea087ede.webp"
                  />
                </div>
                <div
                  data-v-ffb14677=""
                  class="luckyWinners__container-wrapper__item-info"
                >
                  <h1 data-v-ffb14677="">Mem***PFV</h1>
                </div>
                <div
                  data-v-ffb14677=""
                  class="luckyWinners__container-wrapper__item-winType"
                >
                  <img
                    data-v-ffb14677=""
                    class="ar-lazyload"
                    data-origin="https://ossimg.jaiclubpay.com/jaiclub/vendorlogo/vendorlogo_20260317181711ruc9.png"
                  />
                </div>
                <div
                  data-v-ffb14677=""
                  class="luckyWinners__container-wrapper__item-winAmount"
                >
                  <h1 data-v-ffb14677="">Receive ₹700.80</h1>
                  <span data-v-ffb14677="">Winning amount</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 今日盈利排行榜 -->
      <div data-v-6666ec94="" class="purple-home__section-card">
        <div data-v-e656ed2c="" data-v-6666ec94="" class="section-header">
          <div data-v-e656ed2c="" class="section-header__title">
            <div data-v-e656ed2c="" class="section-header__title-bg">
              <span
                data-v-e656ed2c=""
                class="section-header__title-bg__inner"
              ></span
              ><span data-v-e656ed2c="" class="section-header__title-bg__text"
                >Today's earnings chart</span
              >
            </div>
            <div data-v-e656ed2c="" class="section-header__title-tail"></div>
          </div>
          <!--v-if-->
        </div>
        <div data-v-68403b00="" data-v-6666ec94="" class="profit-rank">
          <div data-v-68403b00="" class="profit-rank__content">
            <!-- 领奖台 -->
            <div data-v-68403b00="" class="profit-rank__podium">
              <!-- 人物信息 -->
              <div data-v-68403b00="" class="profit-rank__podium-people">
                <div
                  data-v-68403b00=""
                  class="profit-rank__podium-item profit-rank__podium-item--1st"
                  style="order: 2"
                >
                  <!-- 头像框 -->
                  <div
                    data-v-68403b00=""
                    class="profit-rank__podium-item__avatar"
                    style="
                      background: url(&quot;/assets/png/border1-3b6518ec.webp&quot;)
                        center center / 100% 100% no-repeat;
                    "
                  >
                    <img
                      data-v-68403b00=""
                      data-img="/assets/png/avatar-fb4c2506.webp"
                      class="ar-lazyload"
                      data-origin="/assets/png/1-a6662edb.webp"
                    />
                  </div>
                  <!-- 头像下方三角形 -->
                  <div
                    data-v-68403b00=""
                    class="profit-rank__podium-item__triangle"
                  ></div>
                  <span
                    data-v-68403b00=""
                    class="profit-rank__podium-item__name"
                    >Mem***KCX</span
                  >
                  <div
                    data-v-68403b00=""
                    class="profit-rank__podium-item__amount"
                  >
                    <img
                      data-v-68403b00=""
                      src="/assets/png/coinStack-85b61210.webp"
                      class="coin-icon"
                    /><span data-v-68403b00="">₹12,418,671,912.08</span>
                  </div>
                </div>
                <div
                  data-v-68403b00=""
                  class="profit-rank__podium-item profit-rank__podium-item--2nd"
                  style="order: 1"
                >
                  <!-- 头像框 -->
                  <div
                    data-v-68403b00=""
                    class="profit-rank__podium-item__avatar"
                    style="
                      background: url(&quot;/assets/png/border2-7a806be7.webp&quot;)
                        center center / 100% 100% no-repeat;
                    "
                  >
                    <img
                      data-v-68403b00=""
                      data-img="/assets/png/avatar-fb4c2506.webp"
                      class="ar-lazyload"
                      data-origin="/assets/png/1-a6662edb.webp"
                    />
                  </div>
                  <!-- 头像下方三角形 -->
                  <div
                    data-v-68403b00=""
                    class="profit-rank__podium-item__triangle"
                  ></div>
                  <span
                    data-v-68403b00=""
                    class="profit-rank__podium-item__name"
                    >Mem***4H1</span
                  >
                  <div
                    data-v-68403b00=""
                    class="profit-rank__podium-item__amount"
                  >
                    <img
                      data-v-68403b00=""
                      src="/assets/png/coinStack-85b61210.webp"
                      class="coin-icon"
                    /><span data-v-68403b00="">₹618,565,853.08</span>
                  </div>
                </div>
                <div
                  data-v-68403b00=""
                  class="profit-rank__podium-item profit-rank__podium-item--3rd"
                  style="order: 3"
                >
                  <!-- 头像框 -->
                  <div
                    data-v-68403b00=""
                    class="profit-rank__podium-item__avatar"
                    style="
                      background: url(&quot;/assets/png/border3-cfec4a7d.webp&quot;)
                        center center / 100% 100% no-repeat;
                    "
                  >
                    <img
                      data-v-68403b00=""
                      data-img="/assets/png/avatar-fb4c2506.webp"
                      class="ar-lazyload"
                      data-origin="/assets/png/1-a6662edb.webp"
                    />
                  </div>
                  <!-- 头像下方三角形 -->
                  <div
                    data-v-68403b00=""
                    class="profit-rank__podium-item__triangle"
                  ></div>
                  <span
                    data-v-68403b00=""
                    class="profit-rank__podium-item__name"
                    >Mem***CVN</span
                  >
                  <div
                    data-v-68403b00=""
                    class="profit-rank__podium-item__amount"
                  >
                    <img
                      data-v-68403b00=""
                      src="/assets/png/coinStack-85b61210.webp"
                      class="coin-icon"
                    /><span data-v-68403b00="">₹43,737,680.28</span>
                  </div>
                </div>
              </div>
              <!-- 光圈背景 --><img
                data-v-68403b00=""
                src="/assets/png/rankHalo-e3eae9c5.webp"
                class="profit-rank__podium-halo"
              /><!-- 领奖台图片 --><img
                data-v-68403b00=""
                src="/assets/png/DailyProfitRankStage-397321b9.webp"
                class="profit-rank__podium-stage"
              />
            </div>
            <!-- 排行列表 -->
            <div data-v-68403b00="" class="profit-rank__list">
              <div data-v-68403b00="" class="profit-rank__list-item">
                <span data-v-68403b00="" class="profit-rank__list-item__rank"
                  ><img
                    data-v-68403b00=""
                    src="/assets/png/rankWreath-733d7a66.webp"
                    class="rank-wreath"
                  /><i data-v-68403b00="">4</i></span
                ><img
                  data-v-68403b00=""
                  data-img="/assets/png/avatar-fb4c2506.webp"
                  class="profit-rank__list-item__avatar ar-lazyload"
                  data-origin="/assets/png/1-a6662edb.webp"
                /><span data-v-68403b00="" class="profit-rank__list-item__name"
                  >Mem***WD9</span
                ><span data-v-68403b00="" class="profit-rank__list-item__amount"
                  >₹34,675,982.88</span
                >
              </div>
              <div data-v-68403b00="" class="profit-rank__list-item">
                <span data-v-68403b00="" class="profit-rank__list-item__rank"
                  ><img
                    data-v-68403b00=""
                    src="/assets/png/rankWreath-733d7a66.webp"
                    class="rank-wreath"
                  /><i data-v-68403b00="">5</i></span
                ><img
                  data-v-68403b00=""
                  data-img="/assets/png/avatar-fb4c2506.webp"
                  class="profit-rank__list-item__avatar ar-lazyload"
                  data-origin="/assets/png/1-a6662edb.webp"
                /><span data-v-68403b00="" class="profit-rank__list-item__name"
                  >Mem***J40</span
                ><span data-v-68403b00="" class="profit-rank__list-item__amount"
                  >₹12,054,000.00</span
                >
              </div>
              <div data-v-68403b00="" class="profit-rank__list-item">
                <span data-v-68403b00="" class="profit-rank__list-item__rank"
                  ><img
                    data-v-68403b00=""
                    src="/assets/png/rankWreath-733d7a66.webp"
                    class="rank-wreath"
                  /><i data-v-68403b00="">6</i></span
                ><img
                  data-v-68403b00=""
                  data-img="/assets/png/avatar-fb4c2506.webp"
                  class="profit-rank__list-item__avatar ar-lazyload"
                  data-origin="/assets/png/1-a6662edb.webp"
                /><span data-v-68403b00="" class="profit-rank__list-item__name"
                  >Mem***GL1</span
                ><span data-v-68403b00="" class="profit-rank__list-item__amount"
                  >₹11,760,000.00</span
                >
              </div>
              <div data-v-68403b00="" class="profit-rank__list-item">
                <span data-v-68403b00="" class="profit-rank__list-item__rank"
                  ><img
                    data-v-68403b00=""
                    src="/assets/png/rankWreath-733d7a66.webp"
                    class="rank-wreath"
                  /><i data-v-68403b00="">7</i></span
                ><img
                  data-v-68403b00=""
                  data-img="/assets/png/avatar-fb4c2506.webp"
                  class="profit-rank__list-item__avatar ar-lazyload"
                  data-origin="/assets/png/1-a6662edb.webp"
                /><span data-v-68403b00="" class="profit-rank__list-item__name"
                  >Mem***7CF</span
                ><span data-v-68403b00="" class="profit-rank__list-item__amount"
                  >₹9,241,400.00</span
                >
              </div>
              <div data-v-68403b00="" class="profit-rank__list-item">
                <span data-v-68403b00="" class="profit-rank__list-item__rank"
                  ><img
                    data-v-68403b00=""
                    src="/assets/png/rankWreath-733d7a66.webp"
                    class="rank-wreath"
                  /><i data-v-68403b00="">8</i></span
                ><img
                  data-v-68403b00=""
                  data-img="/assets/png/avatar-fb4c2506.webp"
                  class="profit-rank__list-item__avatar ar-lazyload"
                  data-origin="/assets/png/1-a6662edb.webp"
                /><span data-v-68403b00="" class="profit-rank__list-item__name"
                  >Mem***70N</span
                ><span data-v-68403b00="" class="profit-rank__list-item__amount"
                  >₹8,986,600.00</span
                >
              </div>
              <div data-v-68403b00="" class="profit-rank__list-item">
                <span data-v-68403b00="" class="profit-rank__list-item__rank"
                  ><img
                    data-v-68403b00=""
                    src="/assets/png/rankWreath-733d7a66.webp"
                    class="rank-wreath"
                  /><i data-v-68403b00="">9</i></span
                ><img
                  data-v-68403b00=""
                  data-img="/assets/png/avatar-fb4c2506.webp"
                  class="profit-rank__list-item__avatar ar-lazyload"
                  data-origin="/assets/png/1-a6662edb.webp"
                /><span data-v-68403b00="" class="profit-rank__list-item__name"
                  >Mem***IZ7</span
                ><span data-v-68403b00="" class="profit-rank__list-item__amount"
                  >₹4,515,840.00</span
                >
              </div>
              <div data-v-68403b00="" class="profit-rank__list-item">
                <span data-v-68403b00="" class="profit-rank__list-item__rank"
                  ><img
                    data-v-68403b00=""
                    src="/assets/png/rankWreath-733d7a66.webp"
                    class="rank-wreath"
                  /><i data-v-68403b00="">10</i></span
                ><img
                  data-v-68403b00=""
                  data-img="/assets/png/avatar-fb4c2506.webp"
                  class="profit-rank__list-item__avatar ar-lazyload"
                  data-origin="/assets/png/1-a6662edb.webp"
                /><span data-v-68403b00="" class="profit-rank__list-item__name"
                  >Mem***FDH</span
                ><span data-v-68403b00="" class="profit-rank__list-item__amount"
                  >₹4,312,392.00</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 合作厂商 -->
      <div data-v-420bb38c="" data-v-6666ec94="" class="partner-logos">
        <div data-v-420bb38c="" class="partner-logos__grid">
          <div data-v-420bb38c="" class="partner-logos__grid-item">
            <img
              data-v-420bb38c=""
              src="/assets/svg/PG-1cd445cb.svg"
              alt="PG"
            />
          </div>
          <div data-v-420bb38c="" class="partner-logos__grid-item">
            <img
              data-v-420bb38c=""
              src="/assets/svg/JDB-4f6ca794.svg"
              alt="JDB"
            />
          </div>
          <div data-v-420bb38c="" class="partner-logos__grid-item">
            <img
              data-v-420bb38c=""
              src="/assets/svg/JILI-ff172107.svg"
              alt="JILI"
            />
          </div>
          <div data-v-420bb38c="" class="partner-logos__grid-item">
            <img
              data-v-420bb38c=""
              src="/assets/svg/ARpay-c4c23942.svg"
              alt="AR pay"
            />
          </div>
          <div data-v-420bb38c="" class="partner-logos__grid-item">
            <img
              data-v-420bb38c=""
              src="/assets/svg/AG-4786cd6a.svg"
              alt="AG"
            />
          </div>
          <div data-v-420bb38c="" class="partner-logos__grid-item">
            <img
              data-v-420bb38c=""
              src="/assets/svg/Evo-880723fb.svg"
              alt="Evo"
            />
          </div>
          <div data-v-420bb38c="" class="partner-logos__grid-item">
            <img
              data-v-420bb38c=""
              src="/assets/svg/CQ9-e6cb65fb.svg"
              alt="CQ9"
            />
          </div>
          <div data-v-420bb38c="" class="partner-logos__grid-item">
            <img
              data-v-420bb38c=""
              src="/assets/svg/9G-99701e62.svg"
              alt="9G"
            />
          </div>
          <div data-v-420bb38c="" class="partner-logos__grid-item">
            <img
              data-v-420bb38c=""
              src="/assets/svg/PP-a3f59e4c.svg"
              alt="PP"
            />
          </div>
        </div>
        <div data-v-420bb38c="" class="partner-logos__text">
          <p data-v-420bb38c="" class="partner-logos__text-item">
            <span data-v-420bb38c="" class="dot"></span
            ><span data-v-420bb38c=""
              >The platform advocates fairness, justice, and openness. We mainly
              operate fair lottery, blockchain games, casinos, and slot machine
              games.</span
            >
          </p>
          <p data-v-420bb38c="" class="partner-logos__text-item">
            <span data-v-420bb38c="" class="dot"></span
            ><span data-v-420bb38c=""
              >Jai club works with more than 10,000 online live game dealers and
              slot games, all of which are verified fair games.</span
            >
          </p>
          <p data-v-420bb38c="" class="partner-logos__text-item">
            <span data-v-420bb38c="" class="dot"></span
            ><span data-v-420bb38c=""
              >Jai club supports fast deposit and withdrawal, and looks forward
              to your visit.</span
            >
          </p>
          <p data-v-420bb38c="" class="partner-logos__text-warning">
            Gambling can be addictive, please play rationally.<br
              data-v-420bb38c=""
            />
            Jai club only accepts customers above the age of 18.
          </p>
        </div>
      </div>
      <!-- 下载PWA应用 --><!-- <DownloadPWA /> --><!-- 邀请转盘 -->
      <div
        data-v-6666ec94=""
        class="float"
        style="
          --d9cf7d89-reBenefitBgUrl: url(&quot;/assets/png/reBenefits-c784b658.png&quot;);
          --d9cf7d89-rewardCenterBgUrl: url(&quot;/assets/png/rewardCenter-f8f2277a.png&quot;);
          --d9cf7d89-bigTurntableBgUrl: url(&quot;/assets/png/turntable_icon-9b14cf81.png&quot;);
          --d9cf7d89-homeBigTurntableBgUrl: url(&quot;/assets/png/turntable-4464ae2e.png&quot;);
          --d9cf7d89-telegramBgUrl: url(&quot;/assets/png/tg_bg-8a7ff21e.png&quot;);
          --d9cf7d89-changlongIconUrl: url(&quot;/assets/svg/changlong-54cbfdac.svg&quot;);
          transition: 0.3s;
        "
      >
        <!-- 会员回归奖励 --><!--v-if--><!-- 奖金弹窗 -->
        <div class="rewardCenter float-entry"></div>
        <!-- 邀请转盘组件 --><!--v-if--><!-- 大转盘组件 -->
        <div class="big-turntable float-entry"></div>
        <!-- Telegram组件 --><!--v-if--><!-- 长龙组件 -->
        <div class="changlongEnter float-entry"></div>
      </div>
      <!-- 公告弹窗 --><!----><!----><!-- 获奖弹窗 -->
      <div data-v-c0caae78="" data-v-6666ec94="" class="dialog inactive">
        <div
          data-v-c0caae78=""
          class="dialog__container"
          role="dialog"
          tabindex="0"
        >
          <div data-v-c0caae78="" class="dialog__container-img">
            <img
              data-v-c0caae78=""
              alt=""
              class=""
              data-origin="/assets/png/superjackpotHome-72bbeb43.webp"
              src="/assets/png/superjackpotHome-72bbeb43.webp"
            />
          </div>
          <div data-v-c0caae78="" class="dialog__container-title">
            <h1 data-v-c0caae78="">Congratulation</h1>
          </div>
          <div data-v-c0caae78="" class="dialog__container-content">
            <div data-v-6666ec94="" class="Laundry-Con">
              <div data-v-6666ec94="" class="Laundry-Con_tip">
                Get 【Super Jackpot】!
              </div>
              <div data-v-6666ec94="" class="Landty-Con-tips">
                Visit the [Super Jackpot] page to claim your reward
              </div>
            </div>
          </div>
          <div data-v-c0caae78="" class="dialog__container-footer">
            <!--v-if--><button data-v-c0caae78="">OK</button>
          </div>
        </div>
        <div data-v-c0caae78="" class="dialog__outside"></div>
      </div>
    </div>
  </body>
</html>
